@use '../../utils/_variables' as v;

.weatherLocationContainer {
    font-weight: 600;
    padding-right: 1rem;

    &.sunny {
        background: v.$sunnyIcon;
    }

    &.cloudy {
        background: v.$cloudyIcon;
    }

    &.rainy {
        background: v.$rainyIcon;
    }

    &.partlyCloudy {
        background: v.$partlyCloudyIcon;
    }

    &.clearSkyNight {
        background: v.$clearSkyNightIcon;
    }

    &.cloudyNight {
        background: v.$cloudyNightIcon;
    }
}

.cityName {
    font-size: 2rem;
}